<div>
  <h2 mat-dialog-title>Add Item</h2>
  <form [formGroup]="itemForm">
    <mat-form-field appearance="fill">
      <mat-label for="name">Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="number">Number</mat-label>
      <input matInput type="number" formControlName="num" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="expDate">Choose an expiration date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-dialog-actions>
      <ion-button mat-button mat-dialog-close mat-dialog-close="true"
        >Close</ion-button
      >
      <ion-button
        (click)="submitForm()"
        mat-dialog-close
        mat-dialog-close="false"
        >Submit</ion-button
      >
    </mat-dialog-actions>
  </form>
</div>
