<div>
  <table mat-table #matTable [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let item">
        {{ item.name }}
      </td>
    </ng-container>

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>Number</th>
      <td mat-cell *matCellDef="let item">{{ item.num }}</td>
    </ng-container>

    <!-- Expiration Date Column -->
    <ng-container matColumnDef="expDate">
      <th mat-header-cell *matHeaderCellDef>Expiration Date</th>
      <td mat-cell *matCellDef="let item">
        {{ item.expirationDate }}
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let item">
        <ion-button type="button" (click)="deleteItem(item.name)"
          >Delete</ion-button
        >
      </td>
    </ng-container>

    <!-- Column headers -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Items -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
